@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Nunito:wght@400;700&display=swap");
body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: "Inter", "Roboto", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* --background: #9f1818; */
  /* --foreground: #9d2727; */
  --accent: #ff4081;
}

html,
body {
  /* background-color: var(--background); */
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Inter", "Nunito", Arial, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  /* Optionally add dark theme adjustments here */
}
